.edit-itemcard-block {
  width: 350px;
  height: 400px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px grey;
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.edit-itemcard-header {
  text-align: center;
  color: #009688;
  margin: 15px 0px;
}

.edit-itemcard-paragraph {
  margin: 10px 0px;
}

.edit-itemcard-label {
  position: relative;
  margin-bottom: 3px;
}

.edit-itemcard-input {
  position: absolute;
  right: 5px;
  width: 180px;
}

.edit-itemcard-input:focus {
  box-shadow: 0px 0px 4px #52aaf1;
  border: solid 1px blue;
  outline: none;
}

.edit-itemcard-error{
  font-size: 12px;
  color: red;
  height: 13px;
}

.edit-itemcard-save-btn,
.edit-itemcard-cancel-btn {
  margin: 10px 0px 0px;
  height: 25px;
  width: 200px;
  align-self: center;
  border-radius: 5px;
  background-color: #77b9ee;
  border: solid 1px blue;
  color: white;
  box-shadow: 1px 1px 5px grey;
}

.edit-itemcard-cancel-btn {
  background-color: rgb(238, 215, 8);
  border: solid 1px rgb(186, 167, 0);
}

.edit-itemcard-save-btn:hover {
  cursor: pointer;
  background-color: rgb(0, 116, 188);
}

.edit-itemcard-cancel-btn:hover {
  cursor: pointer;
  background-color: rgb(207, 32, 32);
  border: solid 1px rgb(151, 0, 0);
}

.edit-itemcard-save-btn:active,
.edit-itemcard-cancel-btn:active {
  box-shadow: 1px 1px 5px rgb(50, 50, 50) inset;
}

.edit-itemcard-save-btn:disabled {
  background-color: #7a7a7a4a;
  box-shadow: none;
  border-color: gray;
  cursor: default;
}