tr {
  border-top: solid 1px rgb(219, 219, 219);
  height: 50px;
}

td {
  padding: 0px 10px;
}

.client-status_active {
  background-color: green;
  color: white;
}

.client-status_blocked {
  background-color: red;
  color: white;
}